<div id="middle">
<p id="circle"><br>WEB DEVELOPMENT and MAINTENENCE</p>
<p id="circle"><br>COMMUNITY DETECTION IN SOCIAL NETWORKS</p>
<p id="circle"><br>COMPUTER DEPARTMENT</p>
<p style="width:25%;margin-left:80px;border-width:5px;border-color:black;margin-top:50px;padding-left:100px">
<b>OBJECTIVE</b>-An online Computer Science Department web portal for Teacher and student interaction.
<br>
<b>LOCATION</b>-HPES, Noida<br>
<b>TOOLS -</b><br>
<b>Server Side:</b> ASP.NET with C#.<br>
<b>Client Side:</b> HTML,CSS.<br>
<b>Database:</b> SQL Server 2005.<br>
<b>DURATION-</b> June-July, 2013<br>
</p>
<p style="width:25%;margin-left:80px;border-width: 5px;border-color: black;margin-top:50px;padding-left:100px">
<b>OBJECTIVE-</b>To understand various interactions among the group of persons in that community and with others.
<br>
<b>LOCATION-</b>IIT Guwahati<br>
<b>TOOLS -</b><br>
Python.<br>
<b>DURATION-</b> June-July, 2014<br>
</p>
<p style="width:25%;margin-left:80px;border-width: 5px;border-color: black;margin-top:50px;padding-left:100px">
<b>OBJECTIVE-</b>An online Computer Science Department web portal for Teacher and student interaction.<br>
<b>LOCATION-</b>HPES, Noida<br>
<b>TOOLS -</b><br>
<b>Server Side:</b> ASP.NET with C#.<br>
<b>Client Side:</b> HTML,CSS.<br>
<b>Database:</b> SQL Server 2005.<br>
<b>DURATION- </b>June-July, 2013<br>
</p>
</div>