<div id="top">
	<div style="float:left;width50%">
<img id="img1" src="https://scontent-sin1-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/11054502_728970583886618_370725838487420951_n.jpg?oh=fce05f1abb155c22913ab848a82f4a30&oe=565DAC59" width=500 height=500/></div>
<div id="innerdiv"><b>Introduction-</b>
My name is Ekansh Sharma .I have completed my B.Tech from NIT Arunachal Pradesh in CSE stream with an aggregate of 84.3 in 2015.I am looking for a Software Developer position in some reputed organisation.which can help me in enhancing my skills and provide platform to show with my given abilities and dedication towards the work.
<br ><br >
My area of interest are:DataStructure,Algorithm,DataBase,Operating System.
-I have worked on MS Sql Server 2005, Visual Studio 2010 in my training project that was based on    Development and Maintenance of the website.
<br ><br >
<b>
- I have a good knowledge of Java, C, C# and python.<br >
- I did 6 week internship from IIT Guwahati.<br >
- Secured First Place in the event Code-Wizard at Addoveddi 2014.<br >
- Secured First Place in the Web Site Design Competition.<br >
- Secured Third Place in the event Code-Wizard at Addoveddi 2013.<br >
</b>
</div>
</div>