<div id="bottom">
<form method=get class="form">
		<div class="last">
			<div style="float:left;width:45%;margin-left:80px">
				<p style="font-size:40px">01/GET IN<br>TOUCH</p>
				<p style="margin-top:20px">
			I would love to speak to you.Feel free to call,send us an email,<br>Tweet us or simply complete the enquiry form.</p>
			<p style="margin-top:20px">
			<img class="fimg" src="/assets/name-clipart-name-sign-md.png" style="height:80px">Ekansh Sharma<br>
			<img class="fimg" src="/assets/iphone4-mini-white-02.png" style="height:80px">+917308099461<br>
			<img class="fimg" src="/assets/raphael_mail_flat-circle-white-on-green-gradient_512x512.png" style="height:80px">ekanshsharmacse11@gmail.com<br>
			<img class="fimg" src="/assets/messages.png" style="height:80px"><br></p>
		</div>
			<!--<center>-->
		<div class="div" style="width:45%;float:left">
			<p style="font-size:40px">02/SEND ME A<br>MESSAGE</p>
			<p style="margin-top:20px">
		<input type="text" id="name" style="height:30px;width:150px;color:green" placeholder="Your Name"/>
		<br><br><br>
		<input type="text" id="phone" style="height:30px;width:150px;color:green" placeholder="+917308099461"/>
		<br /><br><br>
		<input type="text" id="email" style="height:30px;width:150px;color:green" placeholder="Email Address"/>
		<br /><br><br>
		<textarea id="comment" rows=5 cols=50 placeholder="Your Message;color:green"></textarea>
		<br /><br><br>
	<br />
		<input type=submit id="submit" style="height:60px;width:150px;font-size:40px;background-color:black;color:white" ></p>
	<!--</center>-->
</div>
	</div>