<div id="topmiddle">
<h1 style="text-align:center;color:black;margin-top:50px">Technologies in which I have worked.</h1>
<p class="newclass1" style="float:left;padding-left: 100px"><img class="img" src="/assets/ASP.NET_.png" width=200 height=200/></p>
<p class="newclass1" style="float:left;padding-left: 100px"><img class="img" src="/assets/Advantages,P20of,P20DBMS.jpg.pagespeed.ce.w7czTcu4ZV.jpg" width="200px" height="200px"/></p>
<p class="newclass1" style="float:left;padding-left: 100px"><img class="img" src="/assets/html.jpg" width=200 height=200/></p>
<p class="newclass1" style="float:left;padding-left: 100px"><img class="img" src="/assets/css.gif" width=200 height=200/></p>
<p class="newclass1" style="float:left;padding-left: 100px"><img class="img" src="/assets/jquery.png" width=200 height=200/></p>
<p class="newclass1" style="float:left;padding-left: 100px"><img class="img" src="/assets/SR2hUhQN_400x400.png" width=200 height=200/></p>
<p class="newclass1" style="float:left;padding-left: 100px"><img class="img" src="/assets/speech-balloon-orange-c-icon.png" width=200 height=200/></p>
<p class="newclass1" style="float:left;padding-left: 100px"><img class="img" src="/assets/product-development-using-java.jpg" width=200 height=200/></p>


<p class="newclass"  style="float:left;padding-left: 100px"><img class="img" src="/assets/csharp-logo.png" width=200 height=200/></p>
<p class="newclass"  style="float:left;padding-left: 100px"><img class="img" src="/assets/Ruby_on_Rails.svg.png" width=200 height=200/></p>
<p class="newclass"  style="float:left;padding-left: 100px"><img class="img" src="/assets/python.jpg" width=200 height=200/></p>
<p class="newclass" style="float:left;padding-left: 100px"><img class="img" src="/assets/data_structure_by_kotsengkuba-d3vew36.jpg" width=200 height=200/></p>
<p class="newclass" style="float:left;padding-left: 100px"><img class="img" src="/assets/storage_operating_systems.jpg" width=200 height=200/></p>
<p class="newclass" style="float:left;padding-left: 100px"><img class="img" src="/assets/cs161logo.png" width=200 height=200/></p>

<div ><button id="button" style="position:static;width:100;height:50;font-size:20;background-color:color:brown;border-size:0;color:white">More...</button></div>
</div>